/*#demo {
    -webkit-transition: width 2s ease;
    -moz-transition: width 2s ease;
    -o-transition: width 2s ease;
    transition: width 2s ease;
    
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    background: yellow;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;

    width: 0px;
}
#demo.in {
    width: 220px;
}*/



.collapsible {
  margin-bottom: 20px;
  background: #EBEBEB;
  border: 1px solid #CCCCCC;
  padding: 10px;
  width: 500px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
  display: block;
  overflow: hidden;
}
.collapsible button {
  height: 135px;
  float: right;
  border: 1px solid #999999;
  background: #999999;
  color: #CECECE;
  margin-left: 10px;
}
.collapsible button:hover {
  background: #990000;
  border: 1px solid #990000;
}

body {
    padding: 20px;
}
.slides {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
}
.slide {
    padding: 15px;
    background-color: #2F2F2F;
    margin: 0 0 15px;
    text-align: center;
    color: #FFF;
    border: 2px solid #444;
    height: 60px;
}

.slide-placeholder {
  background: #DADADA;
  position: relative;
}
.slide-placeholder:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15px;
  background-color: #FFF;
}

.action-button {
  position: relative;
  z-index: 10;
  height: 45px;
  width: 45px;
  margin: 0px 10px 20px 10px;
  /*padding: 5px 5px; */
  border: 4px grey solid;
  border-radius: 50%;
  outline: 0 !important;
  overflow:hidden;
  cursor: pointer;
  display: block;
}

.done {
  background: grey;
}
.not_done{
  background: white;
}
