{% extends "base.html" %}

{% block header%}
      
      <!-- <link rel="stylesheet" href="./static/login.css"> -->
      <link rel="stylesheet" href="{{url_for('static', filename='css/signUp.css')}}">
      <!-- Google Login -->
      <script src="https://apis.google.com/js/platform.js" async defer></script>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

      <title>Sign Up!</title>

{% endblock %}

{% block content %}
  <header>
    <h1 class="Login">Create Your Account</h1>
  </header>

  <section class="container" role="main">
        <section data-module="id/login">
          <section id="login-form" class="">
            <section class="aui-page-panel-inner">
              {% if message %}
                <div class="error"role="alert">
                {{message}}
                </div>
              {% endif %}
              <form action="/signup" class="aui aid-form errors-below-inputs"  method = "POST">

                <div id="js-global-login-error-container" class="aui-message aui-message-error hidden">
                </div> 
                
                <section class="text-inputs">
                  <input autofocus="" class="intext" id="js-firstname-field" name="first_name" maxlength="255" placeholder="FirstName" type="text" value="">
                  <input class="intext" id="js-lastname-field" name="last_name" placeholder="LastName" type="text">
                  <input autofocus="" class="intext" id="js-email-field" name="username" maxlength="255" placeholder="Email" type="text" value="">
                  <input class="intext" id="js-password-field" name="password" placeholder="Password" type="password">
                </section>

                <div class="button-container submit-container">
                  <input type="submit" class="large-blue-button selenium-login-submit aui-button-primary" value="Sign Up">
                </div>

                <div class="button-container">
                  <div class="Login-link">
                      Already Have An Account?
                      <a href="{{ url_for('login') }}">Login</a>
                  </div> 
                </div>    

              </form>
            </section>
          </section>
        </section>
      </section>
{% endblock %}
